.container {
  @media (min-width: 1300px) {
    width: 70%;
    max-width: 400px;
  }

  @media (max-width: 1300px) {
    width: 90%;
    max-width: 580px;
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > svg {
    width: 160px;
    margin-bottom: 40px;
  }

  h3, span {
    font-family: "Aprova", sans-serif;
    color: var(--dark-gray-text);
    font-size: 24px;
  }

  h3 {
    margin-top: 10px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

}