#container {
    padding: 10px;
    height: 40px;
    font-size: 16px;
    color: var(--dark-gray);
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    font-family: 'Aprova';
    font-style: normal;
    font-weight: normal;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#container:focus {
    outline: none;
}

.error {
    background-color: var(--soft-red);
    color: var(--red) !important;
}

