
.wrapper {
    display: flex;
    position: relative;
    height: 50px;
}

.container {
    -webkit-appearance: none;
    padding: 10px;
    height: 100%;
    font-size: 16px;
    color: var(--dark-gray);
    border-radius: 5px;
    border: none;
    font-family: "Aprova", sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: var(--lightgray-background);
}

.password {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container:focus {
    outline: none;
}

.errorText {
    font-size: 14px;
    font-family: "Aprova", sans-serif;
    color: var(--dark-gray-text);
    margin-top: 5px;
}

.rulesContainer {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.ruleItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    svg {
        margin-right: 5px;
    }

    span {
        font-size: 14px;
        font-family: "Aprova", sans-serif;
    }
}
