.container {
    color: var(--white);
    height: 40px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    font-family: 'Aprova';
    padding: 0px 18px 0px 18px;
    font-size: 1em;
    transition: 0.25s;
    outline: none;
}

.container:disabled {
    filter: opacity(80%);
}

.container:hover {
    filter: brightness(90%);
}