.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--lightgray-background);
    min-height: calc(100vh - 80px);
    margin-top: 80px;
   
    @media (max-width: 750px) {
        flex-direction: column;
        padding: 10px 5% 10px 5%;
    }

    @media (max-width: 750px) {
        min-height: calc(100vh - 60px);
    }
}