.container {
  @media (min-width: 1300px) {
    width: 70%;
    max-width: 400px;
  }

  @media (max-width: 1300px) {
    width: 90%;
    max-width: 580px;
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > svg {
    width: 160px;
    margin-bottom: 40px;
  }

  h3, span {
    font-family: "Aprova", sans-serif;
    color: var(--dark-gray-text)
  }

  span {
    margin-top: 10px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .footerButtons {
    width: 100%;
    display: flex;

    @media (min-width: 750px) {
      justify-content: space-between;
      align-items: center;
    }
  
    @media (max-width: 750px) {
      flex-direction: column;
    }

    .link {
      text-align: center;
      margin-top: 15px;
      font-family: "Aprova", sans-serif;
      color: var(--dark-gray-text);
      cursor: pointer;
      transition: 0.35s;
      :hover {
        text-decoration: underline;
        color: var(--bud-green);
      }
    }

    span {
      transition: 0.25s;
    }
  }
}