:root {
  --primary-color: #00635d;
  --gray-background: #ececec;
  --lightgray-background: #f8f8f8;
  --english-violet: #58355e;
  --brow-sugar: #a06348;

  --dark-gray: #4c4c4c;
  --dark-gray-text: #4d4d4d;
  --light-gray: #cccccc;
  --soft-gray: #e5e5e5;
  --soft-gray-button: #d9d9d9;
  --soft-red: #ffb6b6;
  --soft-red-2: #f9e4e4;
  --green-lime: #28ab38;
  --bud-green: #63af53;
  --wf-green: #65a944;
  --dark-green: #00635d;
  --footer-surface: #ececec;
  --bg-soft-green: #e0efdd;
  --soft-green: #e5ece1;

  --orange: #ea9b02;
  --orange-hover: #b67901;
  --white: #fff;
  --red: red;
  --red-error: #a00e01;
  --blue: #508fe7;
  --black: black;
  --green: green;
  --dark-blue: #694ab2;
  --attention-red: #b11a1a;
}
