.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  background-color: var(--lightgray-background);
}

.line {
  color: var(--bud-green);
}