.error {
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
  height: auto;
  padding: 12px;
  border-radius: 5px;
  background-color: var(--soft-red-2);
  font-family: "Aprova", sans-serif;
  font-size: 16px;
  line-height: 16px;
  span {
    margin-left: 15px;
  }
}