.container {
  display: flex;
  flex-direction: column;
  padding-bottom: unset;
}

.title {
  font-family: 'Aprova';
}

.description {
  font-family: 'Aprova';
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}