.container {
  background-color: var(--dark-gray-text);
  width: 100vw;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5%;

  @media (max-width: 750px) {
    display: none;
  }
}

.main,
.logo,
.social {
  width: calc(100% / 3);
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;

  a {
    color: var(--white);
    cursor: pointer;
    font-family: 'Aprova', sans-serif;
    font-size: 14px;
    text-decoration: none;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > span {
    font-size: 14px;
    font-family: 'Aprova', sans-serif;
    color: var(--white);
    margin-right: 10px;
    letter-spacing: 2px;
  }
}

.items {
  display: flex;
  gap: 20px;

  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
