.form {
  display: flex;
  flex-direction: column;
  padding-top: unset;

  @media (min-width: 750px) {
    padding: 0px 120px 40px 120px;
  }

  @media (max-width: 750px) {
    padding: 0px 30px 30px 30px;
  }
}

.passwordTitle {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Aprova", sans-serif;
  font-size: 18px;
}

.inputCheckbox{
  display: grid;
  gap: 3px;
  margin-bottom: 10px;
   label {
    border-color: #65A944;
    span {
      color: #4C4C4C;
      font-size: 14px;
      font-weight: 600;
    }
   }
}

.terms {
  color: #65A944;
  font-weight: bold;
}

// .checked {
//   appearance: none;
//   height: 18px;
//   width: 18px;
//   background-color: red;
//   border-radius: 5px;
//   cursor: pointer;
// }

// .checked:checked{
//   appearance: initial;
// }