.container {
  background-color: var(--lightgray-background);
  position: absolute;
  left: 0;
  top: 0px;
  height: 100vh;
  width: 100vw;
  padding: 20px 20px 20px 20px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  transform: translate(0);
  transition: transform 200ms ease-in-out;
  z-index: 10;

  .userData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 10px;
    border-collapse: separate;
    border-spacing: 1px;

    .left {
      display: flex;
      align-items: center;

      .photo {
        border-radius: 100%;
        overflow: hidden;
        width: 45px;
        height: 45px;
        margin-right: 10px;
        border: 2px solid var(--wf-green);
      }

      .name {
        color: var(--wf-green);
        font-weight: bold;
        font-size: 1.1em;
      }
    }

    .exit {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .menuItem {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-gray);
    font-size: 1.2em;
    border-bottom: 1px solid var(--light-gray);
  }

  .message {
    color: var(--dark-gray);
    font-size: 0.6em;
    margin-top: 10px;
  }
}

.containerIsClosed {
  @extend .container;
  transform: translate(-100vw);
}
