.container {
  @media (min-width: 1100px) {
    width: 85%;
  }

  @media (max-width: 1100px) {
    width: 100%;
  }


  @media (max-width: 750px) {
    padding: 5%;
  }
  

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > svg {
    width: 160px;
  }

  div {
    display: flex;
    flex-direction: column;
        
    width: 100%;
    max-width: 400px;
    form  {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .linkContainer {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid black;
        width: 200px;
        height: 100px;
        .link {
          text-align: center;
          margin-top: 15px;
          font-family: "Aprova", sans-serif;
          color: var(--dark-gray-text);
          cursor: pointer;
          transition: 0.35s;
          :hover {
            text-decoration: underline;
            color: var(--bud-green);
          }
        }  
      }
      
  
      span {
        transition: 0.25s;
      }
    }
  }

  .erroContainer {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}